
.pixelify-sans-font1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

:root {
    --main-text-color: rgb(93, 91, 88);
    --secondary-text-color: rgb(105, 100, 89);
    --unselected-link-color: rgb(113, 113, 113);
    --selected-link-color: rgb(176, 167, 147);
    --body-text-color: rgb(117, 114, 111);
    --bg-color-1: rgb(235, 232, 225);
    --bg-color-2: rgb(232, 229, 220);
    --bg-color-3: rgb(196, 192, 183);

}

  .google-sans-code-font2 {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "MONO" 1;
  }



  @font-face {
    font-family: "Game of Thrones";
    src: url("assets/fonts/game-of-thrones/Game_of_Thrones.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

header {
    font-family: "Pixelify Sans", sans-serif;
    background-color: var(--bg-color-2);
    border: 2px var(--unselected-link-color);
    border-style: dashed;
    position: fixed;
    top: 4px;
    left: 4px;
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;;
    height: 32px;
  }

#main-link {
    font-size: 25px;
    color: var(--main-text-color);
    text-decoration: none;
    display: block;
    justify-content: right;
    transition: color 0.3s ease-in-out;
}
#main-link:hover {
    color: var(--selected-link-color);
}


body {
    background-color: var(--bg-color-3);
}

.header-links{
    display: flex;
    gap: 10px;
    list-style: none;
}
.header-links a{
    text-decoration: none;
    color: var(--unselected-link-color);
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

.header-links a:hover {
    color: var(--selected-link-color);
}

.header-links a.active {
    color: var(--main-text-color);
}


.bio {
    background-color: var(--bg-color-1);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "bio photo";
    align-items: start;
    margin-top: 60px;
    margin-right: 150px;
    margin-left: 150px;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    padding: 20px;
    height: 700px;
}


.bio-title {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 40px;
    color: var(--main-text-color);
    margin-bottom: 0px;
}

.bio-content {
    grid-area: bio;
    
}

.bio-text {
    font-family: "Google Sans Code", sans-serif;
    margin-top: 0px;
    color: var(--body-text-color);
    margin-bottom: 0px;
}


.biophoto {
    grid-area: photo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: calc(2*128px);
    height: calc(2*128px);

}
.profile-photo {
    height: auto;
    display: flex;
    scale: 0.3;
    cursor: pointer;
}

.bio-subtitle {
    font-family: "Google Sans Code", sans-serif;
    margin-top: 0px;
    color: var(--secondary-text-color);
    margin-bottom: 10px
}




@keyframes WinterDialogFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes WinterDialogFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.winter-dialog {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    opacity: 0;
}

.winter-dialog[open] {
    animation: WinterDialogFadeIn 4s ease-in-out forwards;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winter-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
}

.winter-dialog[open]::backdrop {
    animation: WinterDialogFadeIn 1.5s ease-in-out forwards;
    background-color: rgba(0, 0, 0, 0.85);
}


#close-winter-dialog {
    position: fixed;
    left: 10px;
    top: 50px;
    background: none;
    border: none;
    font-size: 24px;
    color: rgb(255,255,255,0.8);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#close-winter-dialog:hover {
    color: var(--selected-link-color);
}


.winter-dialog-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    color: rgb(255,255,255,1);
}
#winter-dialog-title {
    font-family: "Game of Thrones", sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    margin: 0;
}
#winter-dialog-days {
    font-family: "Google Sans Code", sans-serif;
    font-size: 30px;
    margin: 0;
}