:root {
    --bg-color: rgb(245, 244, 242);
    --title-color: rgb(146, 146, 211);
    --title-bg-color: rgb(234, 230, 247);
    --text-color: rgb(100, 91, 153);
    --link-bg-color: rgb(234, 230, 247);
    --link-border-color: rgb(146, 146, 211);
    --link-color: rgb(139, 129, 197);

}

.theme-jade {
    --bg-color: #e6e6e6;
    --title-color: #404e3b;
    --title-bg-color: #bac8b1;
    --text-color: #404e3b;
    --link-bg-color: #bac8b1;
    --link-border-color: #7b9669;
    --link-color: #404e3b;
}

.theme-purple {
    --bg-color: rgb(245, 244, 242);
    --title-color: rgb(146, 146, 211);
    --title-bg-color: rgb(234, 230, 247);
    --text-color: rgb(100, 91, 153);
    --link-bg-color: rgb(234, 230, 247);
    --link-border-color: rgb(146, 146, 211);
    --link-color: rgb(139, 129, 197);

}

.theme-ocean {
    --bg-color: #F2E9E4;
    --title-color: #22324A;
    --title-bg-color: #8DA9C4;
    --text-color: #22324A;
    --link-bg-color: #8DA9C4;
    --link-border-color: #415A77;
    --link-color: #22324A;

}

@keyframes rainbow-text {
    0% {color: red}
    16% {color: orange}
    32% {color: yellow}
    48% {color: green}
    64% {color: blue}
    80% {color: purple}
    100% {color: red}

}


body.rainbowAnim p,
body.rainbowAnim h1,
body.rainbowAnim a,
body.rainbowAnim button {
    animation: rainbow-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.rainbowAnim {
    animation-name: rainbow-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

h1 {
    display: block;
    justify-content: center;
    color: var(--title-color);
    font-family: Comic Sans MS, Comic Sans;
    background-color: var(--title-bg-color);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    
}
h1 span {
    transition: scale 0.3s ease;
}
h1:hover span {
    scale: 1.1;
}


nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 15px;
}
nav ul li {
    margin: 0;
}
a {
    display: inline-block;
    color: var(--link-color);
    font-family: Comic Sans MS, Comic Sans;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    background-color: var(--link-bg-color);
    transition: scale 0.3s ease;
}
a:hover {
    scale:1.1;
    background-color: var(--link-bg-color);
}
body {
    background-color: var(--bg-color);
}


p {
    color: var(--text-color);
    font-family: Comic Sans MS, Comic Sans;
    text-align: left;
    padding-left: 20px;
}

#changeColor:hover, #changeTheme:hover, #defaultColor:hover, #rainbow:hover, #searchbutton:hover {
    scale: 1.1;
}
#changeColor, #changeTheme, #defaultColor, #rainbow, #searchbutton{
    display:inline-block;
    color: var(--link-color);
    font-family: Comic Sans MS, Comic Sans;
    padding: 5px 5px;
    border: none;
    border-radius: 12px;
    background-color: var(--link-bg-color);
    transition: scale 0.3s ease;
}


#searchbar {
    border: none;
    border-radius: 12px;
    background-color: var(--title-bg-color);
    color: var(--title-color);

}

.searchsection {
    display: flex;
    justify-content: center;

    margin-top: 15px;
    gap: 10px;

}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;


}